
.category-blog {
	margin-top: 100px;
	align-items: center;
	text-align: center;
}
.category-blog a{
	text-decoration: none;
	color: #333333;
	margin-top: 10px;
}
.category-blog h2 a{
	font-size: 25px !important;
	margin-top: 5px !important;
}
.category-blog li span{
	margin-top: 15px !important;
}
.category-blog  p{
	margin-top: 10px;
	margin-bottom: 30px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
--------------------------------------------------------------------------------
.category-portifolio{
	margin-top: 30px;
	clear: both;
	text-align: justify;
}
.category-portifolio p{
	font-size: 15px;
}
.category-portifolio a{
	color: #333;
	font-size: 22px;
	opacity: 0.7;
	text-decoration: none;
	color: black;
}
.category-portifolio a:hover{
	opacity: 1;
}
.category-portifolio .link{
	margin: 0 auto;
	width: 129px;
}
.category-portifolio .link a:hover{
	border: 1px solid #333;
	background: #EFEFEF;
}








input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: rgba(87, 87, 87, 0.39);

}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	margin-top: 5px;
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
