/*--------------------------------------------------------------------------------*/
/*                                       PORTIFOLIO                               */
/*--------------------------------------------------------------------------------*/
.portifolio{
	clear: both;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}
.portifolio a{
	color: #333;
	text-decoration: none;
}
.portifolio h3 {
	font-size: 30	px;
	margin-bottom: 100px;
}
.portifolio h3 p {
	margin-top: 5px !important;
	font-size: 15px !important;
}
.title-portifolio{
	margin-top: 120px !important;
	margin-bottom: 60px !important;
}
.portifolio .col-lg-2{
	padding-right: 0px;
	padding-left: 0px;

}
.portifolio img{
}
.col-md-4{
	margin-bottom: 10px !important;
}
/*------------------------------BOTAO PARA ACESSAR O PORTIFOLIO---------------------------------*/
.acessar-portifolio {
	font-style: normal !important;
	border: 1px solid #5d5d5d;
	width: 200px;
	color: #5d5d5d;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 60px;
	display: inline-block;
	padding: 10px 0px 10px;
}
.acessar-portifolio:hover{
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
}
/* ------------------------------FIM DO BOTAO BOTAO PARA ACESSAR O PORTIFOLIO-------------------*/

/*--------------------------------------------------------------------------------*/
/*                                    BLOG                                        */
/*--------------------------------------------------------------------------------*/

.blog{
	clear: both;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}
.blog .data_blog {
		color: #575757;
}
.blog a{
	color: #333;
	text-decoration: none;
	font-size: 18px;
}
.blog h3 {
	font-size: 22px;
	margin-bottom: 100px;
}
.blog h3 p {
	margin-top: 5px !important;
	font-size: 15px !important;
}
.title-blog{
	margin-top: 120px !important;
	margin-bottom: 60px !important;
}
.blog img{
	margin-bottom: 15px !important;
	margin-top: 80px !important;
}
.col-md-4{
	margin-bottom: 10px !important;
}
/*----------------------------------BOTAO PARA ACESSAR O BLOG-----------------------------------*/
.acessar-blog{
	font-style: normal !important;
	border: 1px solid #5d5d5d;
	width: 200px;
	color: #5d5d5d;
	text-transform: uppercase;
	margin-top: 60px;
	font-size: 12px !important;
	margin-bottom: 60px;
	display: inline-block;
	padding: 10px 0px 10px;
}

.acessar-blog:hover{
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
}
/*----------------------------------FIM DO BOTAO BOTAO PARA ACESSAR O BLOG----------------------------------*/

/*--------------------------------------------------------------------------------*/
/*                                       SOBRE                                    */
/*--------------------------------------------------------------------------------*/
.sobre {
	text-align: center;
	border-top: 1px solid #000000;
	margin-bottom: 100px;
}
.sobre a{
	color: #333;
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	text-decoration: none;
}
.sobre h3{
	margin-top: 30px;
	margin-bottom: 28px;
	font-size: 20px;
	-webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 5s; /* Safari */
  transition-property: width;
  transition-duration: 5s;
	transition:all 0.3s ease;
}
.sobre h3:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sobre h5{
	margin-bottom: 50px;
	font-size: 22px;
}
.sobre h6{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 20px;
}
.sobre p{
	font-size: 15px;
}
/*----------------------------------BOTAO PARA ACESSAR PÃGINA SOBRE----------------------------------*/
.acessar-sobre{
	font-style: normal !important;
	border: 1px solid #5d5d5d;
	width: 200px;
	color: #5d5d5d;
	text-transform: uppercase;
	margin-top: 60px;
	font-size: 12px !important;
	margin-bottom: 60px;
	display: inline-block;
	padding: 10px 0px 10px;
}
.acessar-sobre:hover{
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
}
/*----------------------------------FIM DO BOTAO BOTAO PARA ACESSAR O SOBRE----------------------------------*/
.sobre img{
	margin-top: 50px;
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.sobre .row {
	margin-top: 80px;
	margin-bottom: 100px;
}
/*--------------------------------------------------------------------------------*/
/*                                    DEPOIMENTOS                                 */
/*--------------------------------------------------------------------------------*/
.depoimentos{
	color: #fff;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	text-align: center;
	background: url(../images/back.jpg)  center top ;
	display: block;
	position: relative;
	text-shadow:0 0 10px rgba(0,0,0,0.7);
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}
.depoimentos h2{
	margin-top: 100px !important;
	text-decoration: none;
}
.depoimentos p{
	margin-bottom: 100px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 16px;
}
.depoimentos img{
	margin-top: 40px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

/*----------------------------------------- HOVERZOOM --------------------------------------------*/
.hoverzoom {
position: relative;
overflow: hidden;
}
.hoverzoom > img {
width: 100%;
border-radius: 2px;
-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}
.hoverzoom .retina{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
border-radius: 2px;
text-align: center;
-webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover .retina {
opacity: 1;
background-color: rgba(255, 255, 255, 0.90);
}
.hoverzoom .retina a {
	position:absolute;
		top:50%;
		left:50%;
		margin-top:-20px;
		margin-left:-75px;
display: block;
text-align: center;
font-style: normal !important;
border: 1px solid #5d5d5d;
width: 150px;
color: #5d5d5d;
text-transform: uppercase;
font-size: 12px !important;
padding: 10px 0px 10px;
}
/*-----------------------------------------FIM HOVERZOOM --------------------------------------------*/
