/*--------------------------------------------------------------------------------*/
/*                                       PORTIFOLIO                               */
/*--------------------------------------------------------------------------------*/
.portifolio{
	clear: both;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}
.portifolio a{
	color: #333;
	text-decoration: none;
}
.portifolio h3 {
	font-size: 30	px;
	margin-bottom: 100px;
}
.portifolio h3 p {
	margin-top: 5px !important;
	font-size: 15px !important;
}
.title-portifolio{
	margin-top: 120px !important;
	margin-bottom: 60px !important;
}
.portifolio img{
margin-bottom: 15px !important;
margin-top: 80px !important;
}
.col-md-4{
	margin-bottom: 10px !important;
}
/*------------------------------BOTAO PARA ACESSAR O BLOG---------------------------------*/
.acessar-portifolio {
	font-style: normal !important;
	border: 1px solid #5d5d5d;
	width: 200px;
	color: #5d5d5d;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 60px;
	display: inline-block;
	padding: 10px 0px 10px;
}
.acessar-portifolio:hover{
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
}
/* ------------------------------FIM DO BOTAO BOTAO PARA ACESSAR O BLOG-------------------*/

/*--------------------------------------------------------------------------------*/
/*                                    BLOG                                        */
/*--------------------------------------------------------------------------------*/

.blog{
	clear: both;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
}
.blog a{
	color: #333;
	text-decoration: none;
}
.blog h3 {
	font-size: 30	px;
	margin-bottom: 100px;
}
.blog h3 p {
	margin-top: 5px !important;
	font-size: 15px !important;
}
.title-blog{
	margin-top: 120px !important;
	margin-bottom: 60px !important;
}
.blog img{
margin-bottom: 15px !important;
margin-top: 80px !important;
}
.col-md-4{
	margin-bottom: 10px !important;
}

/*----------------------------------BOTAO PARA ACESSAR O BLOG-----------------------------------*/



.acessar-blog{
	font-style: normal !important;
	border: 1px solid #5d5d5d;
	width: 200px;
	color: #5d5d5d;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 60px;
	display: inline-block;
	padding: 10px 0px 10px;
}

.acessar-blog:hover{
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
}
/*----------------------------------FIM DO BOTAO BOTAO PARA ACESSAR O BLOG----------------------------------*/

/*--------------------------------------------------------------------------------*/
/*                                       SOBRE                                    */
/*--------------------------------------------------------------------------------*/
.sobre {
	text-align: center;
	border-top: 1px solid #000000;
	margin-bottom: 100px;
}
.sobre a{
	color: #333;
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	text-decoration: none;
}
.sobre h3{
	margin-top: 30px;
	margin-bottom: 28px;
	font-size: 20px;
}
.sobre h5{
	margin-bottom: 50px;
	font-size: 25px;
}
.sobre h6{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 20px;
}
.sobre p{
	font-size: 15px;
}
/*----------------------------------BOTAO PARA ACESSAR PÁGINA SOBRE----------------------------------*/
.acessar-sobre{
	border: 1px solid #333;
	width: 200px;
	padding: 10px 25px 10px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 30px;
	display: inline-block;
}
.acessar-sobre:hover{
	text-decoration: none;
	color: #333;
	border: 1px solid #000000;
}
/*----------------------------------FIM DO BOTAO BOTAO PARA ACESSAR O SOBRE----------------------------------*/
.sobre a:hover{
	opacity: 1;
}
.sobre img{
	margin-top: 50px;
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.sobre .row {
	margin-top: 80px;
	margin-bottom: 100px;
}
/*--------------------------------------------------------------------------------*/
/*                                    DEPOIMENTOS                                 */
/*--------------------------------------------------------------------------------*/
.depoimentos{
	color: #fff;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	text-align: center;
	margin-bottom: 50px;
	background: url(../images/back.jpg)  center top ;
	display: block;
	position: relative;
	text-shadow:0 0 10px rgba(0,0,0,0.7);
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}
.depoimentos h2{
	margin-top: 100px !important;
		text-decoration: none;
}
.depoimentos p{
		margin-bottom: 100px;
}
.depoimentos img{
margin-top: 40px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
